# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Docker volumes
pgdata/
*.db
